<section class="about-index">
  
    <h1>About Us</h1>
    <br/>
    <head><h3>Hello! Welcome to the Jungle!</h3></head>

    <body> <br/>
        <p><h5>A mini e-commerce application built with Rails 4.2 for purposes of learning Rails by example.</h5></p>
    </body>
</section>
